<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
        <link rel="manifest" href="/icons/site.webmanifest">
        <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/icons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/icons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/base.css?v=2">
        <title>{% block title %}{% endblock %} Floorplans</title>
        {{ dev_script }}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">University Park</a></li>
                <li><a href="jc">Jubilee Campus</a></li>
                <li><a href="sb">Sutton Bonington</a></li>
                <li><a href="kmc">King's Meadow Campus</a></li>
                <li><a href="other">Other</a></li>
                <li><a href="all">All</a></li>
            </ul>
        </nav>
        <main>
            {% block main %}
            {% endblock %}
            <button id="go-to-top" type="button" style="display: none; position: fixed; bottom: 20px; right: 20px; cursor: pointer">
                <img src="img/up.svg" style="height: 60; width: 60px;">
            </button>
            <script>
                const button = document.querySelector("#go-to-top");
                button.onclick = () => {
                  window.scrollTo({"top": 0, "behavior": "smooth"})
                }
                onscroll = (event) => {
                  if (window.scrollY > 0) {
                      button.style.display = "block";
                  } else {
                      button.style.display = "none";
                  }
                }
            </script>
            <style>
                button {
                    animation: fly_in ease-in-out 0.4s;
                }
                @keyframes fly_in {
                    to {
                        transform: translateX(0);
                    }
                    from {
                        transform: translateX(100vw);
                    }
                }
            </style>
            </div>
        </main>
    </body>
</html>
