<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="base.css">
        <title>{% block title %}{% endblock %} Floorplans</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">University Park</a></li>
                <li><a href="jc">Jubilee Campus</a></li>
                <li><a href="sb">Sutton Bonnington</a></li>
                <li><a href="kmc">King's Meadow Campus</a></li>
                <li><a href="nc">Ningbo China</a></li>
                <li><a href="m">Malaysia</a></li>
            </ul>
        </nav>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
