<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="base.css">
        <title></title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">University Park</a></li>
                <li><a href="jubilee">Jubilee</a></li>
                <li><a href="sutton-bonnington">Sutton Bonnington</a></li>
                <li><a href="kings-meadow">King's Meadow</a></li>
                <li><a href="ningbo-china">Ningbo China</a></li>
                <li><a href="malaysia">Malaysia</a></li>
            </ul>
        </nav>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
