{% extends "base.html.jinja" %}
{% from "list.html.jinja" import list %}
{% block title %}University Park{% endblock %}
{% block main %}
<h1>University Park</h1>
{{ list(data["University Park"]) }}
{% endblock %}
