{% extends "base.html.jinja" %}
{% from "list.html.jinja" import list %}
{% block title %}Sutton Bonington{% endblock %}
{% block main %}
<h1>Sutton Bonington</h1>
{{ list(data["Sutton Bonington"]) }}
{% endblock %}
